* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav_logo img {
  width: 200px;
}

.nav_menu li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}
.nav_menu {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}
.pro{
    font-weight: 600;
}
.nav_menu img{
    width: 28px;
}

.footer_interior{
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px 0px 0px;
}

.footer_content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 40px;

}
.footer_img{
    width: 35%;
    margin: 0 auto;
}
.quick, .services{
    width: 17.5%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: left; */
}
.get{
    width: 30%;
    margin: 0 auto;
}

.footer_img p{
    font-size: 17px;
    line-height: 2.1;

}
.quick li a, .services li a, .get li a {
    text-decoration: none;
    color: #22211f;
    font-weight: 100;
    font-size: 17px;
    line-height: 2.1;
 
}
.get li{
    color: #22211f;
    font-weight: 100;
    font-size: 17px;
    line-height: 2.1;
}
.quick ul, .services ul, .get ul{
       list-style-type: none;
}
.quick h3, .services h3, .get h3{
    margin-bottom: 40px;
}
.footer_note{
    width: 100%;
    margin: 120px 0px 0px 0px;
    border: solid rgba(201, 201, 201, 0.877);
    border-width: 1px 0px 0px 0px ;
    display: flex;
    justify-content: center;

}
.foot_note_content{
    width: 90%;
    margin: 40px 0px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.foot_note_content p a{
    font-size: 18px;
    color:#22211f;
    text-decoration: none;
    font-weight: 100;
}
.foot_note_content p {
    font-size: 18px;
    color:#22211f;
    font-weight: 100;
}
.footer_note_img{
    gap: 30px;
    display: flex;
}
.footer_note_img img{
    width: 20px;
}
.btntop{
    cursor: pointer;
    background-color: #b46723;
    border: none;
    border-radius: 50px;
    padding: 10px;
    height: 70px;
    width: 70px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 100;
    position: fixed;
    bottom: 225px;
    right: 20px;
    z-index: 1000;
}
.btntop:hover{
    background-color:#22211f;
}

.hero_section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    gap: 40px;
}
.write{
    width: 35%;
}
.write h3{
    font-size: 68px;
}
.write p{
    font-size: 18px;
    line-height: 1.9;
    margin-top: 20px;
}
.hero_img{
    width: 65%;
    margin: 0 auto;
    color: #8b8b8b;
    font-weight: 100;
}
.hero_img img{
    width: 100%;
    margin: 0 auto;
}
.hero_btn{
    background: none;
    border: solid #b46723;
    border-width: 1px;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}
.btn_arrow img{
    width: 30px;
    background: none;
    margin: 0 auto;
    border: none;
}