* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav_logo img {
  width: 200px;
}

.nav_menu li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}
.nav_menu li a img{
    width: 13px;
}
.nav_menu {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}
.pro{
    font-weight: 600;
}
.nav_menu img{
    width: 28px;
}


.logoholder{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 80px 0px 80px 0px;
    border: solid;
    border-color: #8b8b8b33;
    border-width: 0px 0px 1px 0px;
}
.all_logos{
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all_logos img{
    width: 140px;
}


.portfolios{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0px 70px 0px;

}
.portfolio_content{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.rec_text img{
    height: 75px;
    width: 8px;
}

.content_textalign{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content_textalign h3{
    font-size: 40px;
}
.content_textalign p{
    font-size: 19px;
    color: #b46723;
    margin-top: 20px;
}
.rec_text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.folio_content{
    width: 80%;
    display: grid;
    margin-top: 70px;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.folio_content img{
    width: 100%;
}
.folio_content H4{
    font-size: 25px;
    font-weight: 100;
    color: #22211f;
    margin-top: 20px;
    padding-left: 15px;
}

.portfolios button{
    background: none;
    border: solid #b46723;
    border-width: 1px;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.portfolios button:hover{
    background: none;
    border: solid #22211f;
    border-width: 1px;
}

.testimonials{
    width: 100%;
    margin: 0 auto;
    padding: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testi_text img{
    height: 75px;
    width: 8px;
}
.testi_text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.testimonials_content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.testi_textalign h3{
    font-size: 50px;
}
.testi_textalign p{
    font-size: 19px;
    color: #b46723;
    margin: 10px 0px 0px 30px;

}
.testi_details{
    width: 76%;
    display: grid;
    margin-top: 50px;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.testi_d{
    padding: 30px;
    border: solid#8b8b8b33;
    border-width: 1px;
}
.testi_d p{
    line-height: 1.9;
    font-size: 15px;
    color:#8b8b8b;
    font-weight: lighter;
}
.testi{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;

}
.testi1{
    width: 20%;
    border: solid #8b8b8b48;
    border-width: 1px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}
.testi2{
    width: 80%;
}
.testi2 h2{
    font-size: 17px;
}
.testi2 p{
    font-size: 12px;
}
.circles{
    margin-top: 30px;
    width: 30%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.circles img{
    width: 12px;
}
.footer_interior{
    width: 100%;
    margin: 0 auto;
    padding: 120px 0px 30px 0px;
}

.footer_content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 40px;

}
.footer_img{
    width: 35%;
    margin: 0 auto;
}
.quick, .services{
    width: 17.5%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: left; */
}
.get{
    width: 30%;
    margin: 0 auto;
}

.footer_img p{
    font-size: 17px;
    line-height: 2.1;

}
.quick li a, .services li a, .get li a {
    text-decoration: none;
    color: #22211f;
    font-weight: 100;
    font-size: 17px;
    line-height: 2.1;
 
}
.get li{
    color: #22211f;
    font-weight: 100;
    font-size: 17px;
    line-height: 2.1;
}
.quick ul, .services ul, .get ul{
       list-style-type: none;
}
.quick h3, .services h3, .get h3{
    margin-bottom: 40px;
}
.footer_note{
    width: 100%;
    margin: 120px 0px 0px 0px;
    border: solid rgba(201, 201, 201, 0.877);
    border-width: 1px 0px 0px 0px ;
    display: flex;
    justify-content: center;
}
.foot_note_content{
    width: 80%;
    margin: 40px 0px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.foot_note_content p a{
    font-size: 18px;
    color:#22211f;
    text-decoration: none;
    font-weight: 100;
}
.foot_note_content p {
    font-size: 18px;
    color:#22211f;
    font-weight: 100;
}
.footer_note_img{
    gap: 30px;
    display: flex;
}
.footer_note_img img{
    width: 20px;
}
.btntop{
    cursor: pointer;
    background-color: #b46723;
    border: none;
    border-radius: 50px;
    padding: 10px;
    height: 70px;
    width: 70px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 100;
    position: fixed;
    bottom: 108px;
    right: 20px;
    z-index: 1000;
}
.btntop:hover{
    background-color:#22211f;
}

.hero_section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dis_num{
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    position: absolute;
    right: 40px;
    bottom: 90px;
    

}
.dis_num h2{
    font-size: 30px;
    line-height: 1.5;
    color: white;
    
}
.hero_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    gap: 70px;
}
.write{
    width: 40%;
}
.write h3{
    font-size: 68px;
}
.write p{
    font-size: 18px;
    line-height: 1.9;
    margin-top: 20px;
}
.hero_img{
    width: 60%;
    margin: 0 auto;
    color: #8b8b8b;
    font-weight: 100;
}
.hero_img img{
    width: 100%;
    margin: 0 auto;
}
.hero_btn{
    background: none;
    border: solid #b46723;
    border-width: 1px;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}
.hero_btn:hover{
    background: none;
    border: solid #22211f;
    border-width: 1px;
}
.btn_arrow img{
    width: 30px;
    background: none;
    margin: 0 auto;
    border: none;
}

/* blog styling  */

.blog_articles{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0px 70px 0px;

}
.blog_content{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.blo_text img{
    height: 75px;
    width: 8px;
}

.blog_textalign{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.blog_textalign h3{
    font-size: 40px;
}
.blog_textalign p{
    font-size: 19px;
    color: #b46723;
    margin-top: 20px;
}
.blo_text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.blo_content{
    width: 80%;
    display: grid;
    margin-top: 70px;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.blo_content img{
    width: 100%;
}
.blo_content H4{
    font-size: 25px;
    font-weight: 100;
    color: #22211f;
    margin-top: 5px;
    padding-left: 15px;
    text-transform: capitalize;
}
.blo_content p{
    font-size: 15px;
    font-weight: 100;
    color: #22211f49;
    margin-top: 20px;
    padding-left: 15px;
    text-transform: capitalize;
}

.blog_articles button{
    background: none;
    border: solid #b46723;
    border-width: 1px;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.blog_articles button:hover{
    background: none;
    border: solid #22211f;
    border-width: 1px;
}

/* end of blog section styling */
.contact{
    width: 100%;
    background-color: #dfba99;
    margin: 0 auto;
    padding: 130px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}
.contact_button{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;

}
.contact_button button{
    padding: 15px 30px;
    border: none;
    color: white;
    background-color: #22211f;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
}
.contact_write{
    width: 60%;
    }
.contact_write h3{
    font-size: 50px;
    color: #22211f;
    
}
.contact_write h4{
    font-size: 18px;
    color: #22211f;
    font-weight: 100;
    margin-top: 20px;
}
.h4bold{
    font-size: 18px;
    color: #22211f;
    
}

.Newsletter{
    width: 100%;
    margin: 0 auto;
    padding: 80px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.news_content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.content_news{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.news_text{
    font-size: 50px;
} 
.content_news p{
    font-size: 17px;
    line-height: 1.5;
    font-weight: 100;
    color: #8b8b8be5;
    margin-left: 30px;
    margin-top: 20px;
}
.news_img{
    width: 50%;
}
.news_img img{
    width: 100%;
}

.news_text img{
    height: 75px;
    width: 8px;
}
.news_text{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    text-align: center;
}

.news_sub{

    align-items: center;
    display: flex;
    margin: 40px 0px 0px 30px;
}
.news_sub input{
    padding: 15px 170px 15px 9px; 
    border: solid #8b8b8b57;
    border-width: 1px;
    
}
.news_sub input::placeholder{
    font-style: italic;
    font-size: 16px;
    color: #8b8b8bad;
    font-weight: 100;
}

.news_btn{
    background-color: #22211f;
    padding: 13px 30px;
    color: whitesmoke;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}
.news_btn:hover{
    background-color: #b46723;
    transition-delay: 0.1s;
    animation-delay: 0.1s;
}
.news_img_span img{
    width: 15px;
}




@media (max-width: 425px) {
    .hero_section{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
@media (max-width: 425px) {
    .hero_content{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .write h3{
        font-size: 35px;
        text-align: left;
    }
    .write{
        width: 90%;
        order: 2;
    }
    .hero_img{
        width: 100%;
        order: 1;
    }
     .hero_img img{
        width: 100%;
    }
}

@media (max-width: 425px){
    .logoholder{
        width: 90%;
        display: flex;
        align-items: center;
        content: center;
    }
}
@media (max-width: 425px){
    .all_logos{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        content: center;
    }
}
@media(max-width: 425px){
    .portfolios{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 425px){
    .folio_content{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 425px){
    .content_textalign h3{
        font-size: 35px;
    }
}

@media(max-width: 425px){
    .content_textalign {
        width: 100%;
        margin: 0px; padding: 0px;
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 425px){
    .content_textalign p {
        font-size: 16px;
        margin: 20px 0px 20px 0px;
        padding: 0px;
    }
}
@media(max-width: 425px){
    .rec_text {
        width: 100%;
        margin: 0px; padding: 0px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
}


@media(max-width: 425px){
    .portfolio_content{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 425px){
    .testimonials{
        width: 90%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 425px){
    .testimonials_content{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;

    }
}
@media(max-width: 425px){
    .testi_details{
        width: 100%;
        margin: 20px 0px 0px 0px;
        padding: 0px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 425px){
    .Newsletter{
        width: 90%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 425px){
    .news_content{
        width: 100%;
        margin: 40px 0px 0px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 425px){
    .news_img{
        width: 100%;
        margin: 40px 0px 0px 0px;
        padding: 0px;
        
    }
}
@media(max-width: 425px){
    .content_news {
        width: 100%;
        margin: 40px 0px 0px 0px;
        padding: 0px;
        
    }
}
@media(max-width: 425px){
    .news_sub {
        width: 100%;
        margin: 30px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media(max-width: 425px){
    .news_sub input {
     width: 80%;
        padding: 15px 150px 15px 10px;
        
    }
}
@media(max-width: 425px){
    .news_sub button {

     width: 80%;
        
    }
}

@media(max-width: 425px){
    .blog_articles{
        width: 90%;
        margin: 0 auto;
        padding: 80px 0px 80px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 425px){
    .blog_content{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 425px){
    .blo_content{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 425px){
    .blog_textalign {
        width: 100%;
        margin: 40px 0px 0px 0px;
        padding: 0px;
        /* display: flex;
        align-items: center;
        justify-content: left; */
        
    }
}

@media(max-width: 425px){
    .blo_text {
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        display: flex;
        justify-content: left;
        
    }
}}

@media(max-width: 425px){
    .blog_textalign p{
        font-size: 16px;
        margin: 10px 0px 20px 0px;
        color: #22211f; 
        padding: 0px;
    }
}

@media(max-width: 425px){
    .contact{
        width: 100%;
        margin: 0px;
        padding: 90px 0px;
    }
}

@media(max-width: 425px){
    .contact_content{
        width: 90%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 425px){
    .contact_write{
        width: 100%;
        
    }
}

@media(max-width: 425px){
    .contact_button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0px 0px 0px 0px;
        
    }
}

@media(max-width: 425px){
    .footer_interior{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0px 0px 0px 0px;
        
    }
}
@media(max-width: 425px){
    .footer_content{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        
    }
}
@media(max-width: 425px){
    .footer_img, .quick, .services, .ger{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        
    }
}

@media(max-width: 425px){
    .footer_note{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0px 0px 0px 0px;
        
    }
}
@media(max-width: 425px){
    .footer_note_content{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        
    }
}