* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav_logo img {
  width: 200px;
}

.nav_menu li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}
.nav_menu {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}
.pro{
    font-weight: 600;
}
.nav_menu img{
    width: 28px;
}